.icon-envelope {
  vertical-align: middle;
  height: 20px;
  width: 16px;
  margin-right: 10px;
}

.icon-phone {
  vertical-align: middle;
  height: 20px;
  width: 16px;
  margin-right: 10px;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 4px;
}
.social {
  display: flex;
  height: 20px;
  width: 20px;
}
